.top {
  height: 15rem;
  width: 100%;
  background-color: #e4000f;
  border-bottom: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom {
  position: absolute;
  top: 12.5rem;
  left: 50%;
  transform: translateX(-50%);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 6px solid black;
  background-color: white;
}
